<%- include('partials/head.ejs') %>

<div class="error-container">
    <h1>500 - Server Error</h1>
    <p>Sorry, something went wrong on our end. We're looking into it!</p>
    <!-- hide in real env -->
    <% if (errorMessage) { %>
        <p class="error-detail">Error: <%= errorMessage %></p>
    <% } %>
    <a href="/" class="btn">Go to Homepage</a>
</div>

<%- include('partials/footer.ejs') %>